@import "tailwindcss";

:root {
  --background: #fef5e8;
  --red: #bf0203;
  --black: #000000;
  --font-h1: "Playfair Display", serif;
  --font-h2: "Montserrat", sans-serif;
  --font-broedtekst: "Courier Prime", monospace;
}

@layer base {
  .font-broedtekst {
    font-family: var(--font-broedtekst);
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
