---
import "../styles/global.css";
---

<section>
  <button class="font-Brødtekst md:text-2xl bg-[var(--background)] text-black md:rounded-xl rounded-lg shadow-md shadow-[rgba(0,0,0,0.2)] px-6 py-3 md:px-16 md:py-8"> <slot /> </button>
</section>
